@font-face {
    font-family: 'my_pumaregular';
    src: url('webfontkit-20210302-101249/mypuma__-webfont.woff2') format('woff2'),
         url('webfontkit-20210302-101249/mypuma__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.loaded {
    animation-name: load;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
    animation-duration: 3s;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

@keyframes load {
0% {
    opacity: 0;
}

70% {
    opacity: 5;
}

100% {
    opacity: 100;
}
}



g {
    fill: transparent; 
}

h1 {
    font-family: 'my_pumaregular';
    font-size: 5rem;
}


#shadow {
    pointer-events: none;
}

section {
    width: 40vw; 
    margin-left: 10vw;
}

.showpart {
    cursor: pointer;
}

.hover {
    animation-name: pulse; 
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

@keyframes pulse {
    0%{
        transform: scale(1)
    }

    50% {
        transform: scale(1.05);
    }

    100%{
        transform: scale(1);
    }
}


.color_btn {
    cursor: pointer;
    stroke: black; 
    
}

.scale_colors {
    animation-name: scale_colors;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}


@keyframes scale_colors {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}
